%div
  %br
    %p
      %b NEWS ARCHIVE
      %p
        DULUTH CITY CHICKENS - APPROVED BY CITY COUNCIL! (8/25/2008)
        %br
          Three ordinances were passed: (1)allowing chickens in zoning code,
          (2) creating $10 permit fee for city-chicken-keepers,
          (3) rules on how to keep chickens
          %p
            08-0498R - RESOLUTION AMENDING RESOLUTION 07-0723 ADOPTING LICENSE,
            PERMIT AND FEE CHARGES FOR 2008; SETTING THE FEE FOR THE NEW KEEPING OF
            CHICKENS LICENSE. (TABLED 8/11) (REPLACEMENT)  -- PASSED 6-3 (Fedora,
            Fosle, Krause voted against)
            %a{:href => "http://www.duluthmn.gov/clerk/council/resord08/08-498R.pdf"}
              Establishes $10 annual fee for keeping chickens in city of duluth.
              (PDF)
            %p
              08-020-O (9925) - AN ORDINANCE AMENDING SECTION 50-55.1 OF THE DULUTH
              CITY CODE, 1959, AS AMENDED, PERTAINING TO KEEPING CHICKENS IN CITY.
              (RETABLED 7/28) (REPLACEMENT) -- PASSED 6-3 (Fedora, Fosle, Krause voted
              against)
              %a{:href => "http://www.duluthmn.gov/clerk/council/resord08/08-020-o.htm"}
                Changes zoning code to allow:
                ("keeping chickens, except roosters, in a suitable coop for domestic use
                and consumption on the premises only") (HTML)
              %p
                08-059-O (9926) - AN ORDINANCE ADDING SECTIONS 6-79 AND 6-79.1 OF THE
                DULUTH CITY CODE, 1959, AS AMENDED, PERTAINING TO OBTAINING A LICENSE TO
                KEEP CHICKENS IN CITY. (REPLACEMENT 2) -- PASSED 6-3 (Fedora, Fosle,
                Krause voted against)
                %a{:href => "http://www.duluthmn.gov/clerk/council/resord08/08-059-O.pdf"}
                  Adds chicken-rules to "Chapter 6 / animal" city code, such as:
                  Must be kept on single-family-home property, 5 chickens maximum, no
                  Roosters, no slaughtering of chickens, must have coop, must have 10
                  sq. ft. per chicken (coop and outside fenced run, combined), must have
                  netting over top of fenced run, must have 1 sq. foot of window per 15
                  sq. foot of floor.  **PDF**
                %p
                  %hr
                    DULUTH CITY CHICKENS - AUG. 2008 UPDATE/NEWS
                    %p
                      (as of aug. 25, 2008)
                      Chicken-raising-in-Duluth proposals will very likely be voted on at the
                      8/25/08 council mtg.  The new proposal of rules goes a overboard
                      proscribing all sorts of rules in details.
                      %br
                        Despite its flaws, we'd just like to get chicken-raising legal in Duluth,
                        so lets encourage councilors to support it.
                        %br
                          There is at least one specific problem that will have to be fixed.
                          Existing city rules expressly prohibit the composting of animal manure.
                          city composting rules will need to be overhauled to be more in
                          tune with sustainability and encouraging of
                          composting, especially of chicken manure.
                          %p
                            (as of aug. 6, 2008)
                            the chicken-raising-in-Duluth proposal was tabled at the 7/28/08 council
                            mtg, to make proposals clearer/cleaner and sync with proposed new "chapter
                            6" animal rules coming from Animal Control, with chicken wording in it
                            As of this moment its unclear if Chickens will be on Aug. 11 agenda,
                            or move to Aug 25.. city council agenda. we'll know on aug. 7th
                            Also More rules are being proposed via city attorney's office.
                            %p
                              DULUTH CITY CHICKENS - JULY 2008 UPDATE/NEWS
                              %p
                                In June, The Duluth Planning Commission tied 4-4 on the allow-chickens
                                zoning proposal. The proposal will work its way back onto the City Council
                                agenda, but it may be August.
                                %br
                                  Its important to note that the zoning change is only part of what will be
                                  done to allow chickens. Duluth City Animal Control is updating "Chapter 6
                                  \/ Animals and Fowl" with rules for chickens in the city. At this point DCC
                                  supports and anticipates the following rules: No Roosters, domestic use &
                                  consumption (no egg selling), Chickens must be kept in an enclosed area, A
                                  permit will be required, $8 - same as other animal permits.
                                  %br
                                    For more information from the Duluth City Chickens, read our informative
                                    %a{:href => "http://duluthcitychickens.org/BackyardChickensTalkingPoints.htm"}
                                      Backyard
                                      Chickens Talking Points
                                    %br
                                      The Duluth City Chickens also pledges provide ongoing
                                      education, information and tours about chicken raising in the city.
                                      %p
                                        DULUTH CITY CHICKENS - JUNE 2008 UPDATE/NEWS
                                        %p
                                          The proposal to legalize raising Chickens in duluth continues onward.
                                          In April, The city council pass the proposal on to the Planning
                                          Commission.  In early May, the Planning Commission tabled the proposal, so
                                          city staff could work on the proposal. Duluth City Chickens is working
                                          with city officials to get an agreeable proposal.
                                          %br
                                            The proposal is on the Planning commission agenda for their Tues. June
                                            10th meeting.  It now looks like the Planning Commission may not get a
                                            proposal to vote on until their July meeting, and then possibly to City
                                            Council by their later July meeting.  However, it could take even longer
                                            then this because the proposal are being split into two... Zoning
                                            (city code chap. 50) allowing chickens, and Animal/Fowl Rules (city code
                                            chap. 6) that may take longer.
                                            %br
                                              Continue to contact your city councilors and planning commission members
                                              and tell them you support chickens in the city!  Sign your name and city
                                              address!
                                              %p
                                                %a{:href => "http://www.duluthmn.gov/city/council/ccmembers.html"}
                                                  CITY COUNCIL EMAIL ADDRESSES & DISTRICT / CONTACT INFO
                                                %p
                                                  %a{:href => "", "http:" => ""}
                                                    CITY PLANNING COMMISSION / STAFF CONTACT INFO (ask them to forward to
                                                    planning commissioners)
                                                  %hr
                                                    %hr
                                                      %hr
                                                        DULUTH CITY CHICKENS - GETS HEARING AT CITY COUNCIL! (early april 2008)
                                                        %p
                                                          The Duluth City Council is taking up the possibility of allowing the
                                                          keeping of chickens in the city of Duluth. The proposal, listed below,
                                                          is a line of text added to the zoning code that allows keeping chickens
                                                          (but not roosters).
                                                          The proposal gets it's first hearing this coming Monday, April 14th, at
                                                          the city council meeting.
                                                          %p
                                                            Duluthians, please contact your city councilor(s) and tell them you
                                                            support keeping chickens in the city!
                                                            %p
                                                              %a{:href => "http://www.duluthmn.gov/city/council/ccmembers.html"}
                                                                CITY COUNCIL EMAIL ADDRESSES & DISTRICT / CONTACT INFO
                                                              %br
                                                                \---------------------
                                                                %br
                                                                  %p
                                                                    TIME LINE (possible)
                                                                    \- Apr. 14th, first hearing at City Council
                                                                    \- May 13th, Planning Committee
                                                                    \- May 27th, second hearing at City Council
                                                                    %br
                                                                      \---------------------
                                                                      %br
                                                                        %p
                                                                          THE PROPOSAL...
                                                                          %p
                                                                            COMMITTEE 1
                                                                            BY COUNCILORS GILBERT AND GARDNER
                                                                            %p
                                                                              08-020-O - AN ORDINANCE AMENDING SECTION 50-55.1 OF THE DULUTH CITY
                                                                              CODE, 1959, AS AMENDED, PERTAINING TO KEEPING
                                                                              CHICKENS IN CITY.
                                                                              %p
                                                                                COUNCIL REQ/ATTORNEY
                                                                                STATEMENT OF PURPOSE: This ordinance allows the keeping of chickens for
                                                                                domestic use within the city of Duluth.
                                                                                %p
                                                                                  %a{:href => "http://www.ci.duluth.mn.us/city/council/resord08/08-020-o.htm"}
                                                                                    chicken-keeping proposal, city of duluth
                                                                                  %p
                                                                                    The proposal adds the "chicken" wording to the Duluth City zoning code,
                                                                                    50-55.1 (section b): ->>>new wording<<<-
                                                                                    %p
                                                                                      (b) Agricultural uses primarily for home consumption, such as domestic
                                                                                      gardening, berry or bush crops, tree crops,
                                                                                      %p
                                                                                        flower gardening, nurseries, orchards, ->>> keeping chickens, except
                                                                                        roosters, in a suitable coop for domestic use and
                                                                                        
                                                                                        consumption on the premises only <<<-, aviaries and apiaries, including
                                                                                        a greenhouse, but not including a salesroom or
                                                                                        
                                                                                        roadside stand;
                                                                                        %br
                                                                                          \---------------------
                                                                                          %br
                                                                                            %P
                                                                                              FOR MORE INFORMATION,
                                                                                              VISIT http://DuluthCityChickens.org
                                                                                              "Duluth City Chickens" is a local grassroots group that
                                                                                              promotes responsible urban agriculture by establishing
                                                                                              clear legal guidelines for raising chickens within the city of Duluth. "