%div
  .Section1
    %table.MsoTableGrid{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;\r\n   mso-yfti-tbllook:480;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:\r\n   .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext"}
      %tr{:style => "mso-yfti-irow:0"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                Why Raise Chickens
                in the city?
                %o:p
        %td{:style => "width:513.0pt;border:solid windowtext 1.0pt;\r\n    border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:\r\n    solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            It's a relatively easy hobby, and it provides fresh
            locally grown high quality food. Great activity for kids to get involved
            with.
            %a{:href => "http://www.culinate.com/articles/features/Metro+chickens"} http://www.culinate.com/articles/features/Metro+chickens
            ,
            %a{:href => "http://www.justfood.org/cityfarms/chickens/"} http://www.justfood.org/cityfarms/chickens/
          %p.MsoNormal
            Chicken interest Story from
            %st1:PlaceName
              %st1:place
                New
                York
            \:
            %a{:href => "http://www.cityfarmer.org/NewYorkChickens.jpg"} http://www.cityfarmer.org/NewYorkChickens.jpg
            %o:p
      %tr{:style => "mso-yfti-irow:1"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                What is a reasonable
                number of chickens for a standard lot?
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            Depends on the diligence of the chicken owner, and
            location or number of lots owned.
          %p.MsoNormal
            Some examples: The City of Seattle allows 3 chickens per
            standard lot, with an additional 1 bird allowed per additional 1,000 sq. ft. New
            York City allows chickens, no limit, no roosters.
            %o:p
      %tr{:style => "mso-yfti-irow:2"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                How much space do
                chickens need?
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            A coop with 3 to 4 ft per large bird is fine. Less for
            smaller breeds. Additional space for a run or a movable pen improves health
            of the bird, and contributes to nutrition and taste of the egg.
      %tr{:style => "mso-yfti-irow:3"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                Are they noisy and
                smelly?
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            Hens are quiet, a rooster crows sometimes all day. Some
            people like this some don't. You don't need a rooster to get eggs. For small
            flocks,
            %i{:style => "mso-bidi-font-style:normal"} proper bedding
            material,
            = succeed "," do
              %i{:style => "mso-bidi-font-style:normal"} routine cleaning
            and
            %i{:style => "mso-bidi-font-style:normal"} access to outdoors
            keep smells to a
            minimum. Of course, a dirty coop will smell, but generally, that smell is
            limited to inside the coop.
      %tr{:style => "mso-yfti-irow:4"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                What to do with
                chicken manure
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            Regularly clean out to prevent problems. Compost it and
            use in garden, yard or bring composted material to community garden site.
          %p.MsoNormal
            %span{:style => "mso-spacerun:yes"} †
            %a{:href => "http://www.seattletilth.org/resources/articles/compostingchickenmanure"} http://www.seattletilth.org/resources/articles/compostingchickenmanure
          %p.MsoNormal
            %a{:href => "http://gardening.wsu.edu/stewardship/compost/yardcomp/yardcomp.htm"} http://gardening.wsu.edu/stewardship/compost/yardcomp/yardcomp.htm
            %o:p
      %tr{:style => "mso-yfti-irow:5"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                Avian Influenza (AI)
                or Bird Flu
                %o:p
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %span{:style => "mso-spacerun:yes"}> †
                \-transmitted by waterfowl
                %o:p
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %span{:style => "mso-spacerun:yes"} ††
                %o:p
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %span{:style => "mso-spacerun:yes"}> †††
                \-Currently not in the
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;\r\n      font-family:\"Bookman Old Style\""} United States
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\r\n    \"Bookman Old Style\""}
                \.
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            Common-sense principles and good bio-security measures are
            very important to help prevent the spread of this disease, as well as other
            poultry diseases, and should always be followed.
            %span{:style => "mso-spacerun:yes"} †
          %p.MsoNormal
            %span{:style => "mso-spacerun:yes"}> ††
            \-It's important
            to note that one cannot be infected with AI by eating cooked poultry products
            or eggs. For more information, visit the websites of the WHO and the CDC.
            %a{:href => "http://www.who.int/csr/disease/avian_influenza/en/"} http://www.who.int/csr/disease/avian_influenza/en/
          %p.MsoNormal
            %a{:href => "http://www.cdc.gov/flu/avian/"} http://www.cdc.gov/flu/avian/
            ,
            %span{:style => "mso-spacerun:yes"} †††
            %a{:href => "http://birdflubook.com/g.php?id=5"} http://birdflubook.com/g.php?id=5
            ,
            %o:p
      %tr{:style => "mso-yfti-irow:6"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                Are chickens legal
                in other cities?
                %o:p
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            They are legal in many cities, large and small, all across
            the country.
          %p.MsoNormal
            Link to city chicken laws:
            %a{:href => "http://home.centurytel.net/thecitychicken/chickenlaws.html"} http://home.centurytel.net/thecitychicken/chickenlaws.html
      %tr{:style => "mso-yfti-irow:7"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                What if my neighbor
                gets chickens?
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            Enjoy visiting the chickens and talking with your neighbor.
            Discuss concerns, questions or problems right away, and your neighbor will
            address them. Your neighbor is working hard to make sure the chickens fit
            into the neighborhood.
            %span{:style => "mso-spacerun:yes"} ††
            %o:p
      %tr{:style => "mso-yfti-irow:8"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                %o:p  
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                What kinds of
                chickens do urban growers usually raise?
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            There are many different breeds of chickens and poultry.
            Backyard growers tend to go for the heirloom breeds since they are smaller,
            productive and fanciful. Hardy breeds do well in Duluth's
            winters. Meat birds (birds raised exclusively to be eaten for the meat) are
            bigger, and messier than egg layers. Most backyarder growers avoid them due
            to the extra work.
            %o:p
      %tr{:style => "mso-yfti-irow:9"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                Will there be
                chickens running loose around town or in my yard?
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            No, that wouldn't be safe for the chickens. Vandalism,
            predators, the weather and general safety concerns necessitates keeping them
            enclosed in coops, large runs, or movable pens. If they do escape, they will
            go back to the coop at night to roost. It is too cold in Duluth
            for chickens to survive long enough to establish a wild population.
            %o:p
      %tr{:style => "mso-yfti-irow:10;mso-yfti-lastrow:yes"}
        %td{:style => "width:193.5pt;border:solid windowtext 1.0pt;\r\n    border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;\r\n    padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "258"}
          %p.MsoNormal
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.0pt;font-family:\"Bookman Old Style\""}
                Links to FAQ Websites
                %o:p
        %td{:style => "width:513.0pt;border-top:none;border-left:\r\n    none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n    mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;\r\n    mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "684"}
          %p.MsoNormal
            %a{:href => "http://www.madcitychickens.com/faq.html"}> www.madcitychickens.com/faq.html
            ,
            %a{:href => "http://www.seattletilth.org/resources/articles/citychickensfaqs"} http://www.seattletilth.org/resources/articles/citychickensfaqs
            %o:p
    %p.MsoNormal
      %o:p  