%div{:style => "text-align: center;"}
  %div{:style => "padding-bottom: 10px;"}
    To contact Duluth City Chickens, please send an email to:
    %br/
    %a{:href => "mailto:people@duluthcitychickens.org"} people@duluthcitychickens.org
  %div
    %span{:style => "font-weight: bold;"} Mailing List Information
    %br/
    %br/
    %a{:href => "http://compostb.in/mailman/listinfo/chickenquestions", :target => "_blank"} Duluth City Chickens - Mailing List
    %br/
    %br/
    %div
      %b Instructions:
      After clicking on the link, above, enter your name, email address and a unique password - preferably not your "usual" password.  No need to remember it; it is easily retrieved.  Submit the form, and you will receive a confirmation email.  Read the email, and follow the instructions in it.