%div
  .Section1
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:Arial"} DULUTH
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:\r\n  Arial"}       
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:Arial"} CITY
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:\r\n  Arial"} CHICKENS FAQ
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Why are more people
            choosing to raise chickens in the city anyway?
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:\r\n  Arial"}
    %p.MsoNormal
      %i{:style => "mso-bidi-font-style:normal"}
        %span{:style => "font-size:10.0pt;font-family:Georgia;mso-bidi-font-family:Arial;\r\n  color:#333333"}
          The growing popularity of urban hens can be attributed partly
          to how easy it is to keep them. Getting a coop and chicken run set up
          necessitates a bit of planning and work, but overall, chickens require a
          fraction of the care and attention demanded by dogs and cats. And what they
          lack in cuddliness, they make up for in fresh eggs  and entertainment.'
          %span{:style => "mso-spacerun:yes"} †
      %span.SpellE
        %i{:style => "mso-bidi-font-style:normal"}
          %span{:style => "font-size:10.0pt;font-family:\r\n  Arial;color:#333333"} Jes
      %i{:style => "mso-bidi-font-style:normal"}
        %span{:style => "font-size:10.0pt;font-family:Arial;color:#333333"} Burns Culinate.com
      %b
        %i
          %span{:style => "font-size:10.0pt;font-family:Arial;color:#660033"}
            %br
      %i{:style => "mso-bidi-font-style:normal"}
        %span{:style => "font-size:\r\n  10.0pt;font-family:Arial"}
          %span{:style => "mso-spacerun:yes"} †
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Yes, it is
        easy, and its fun to raise chickens! And there are a host of other reasons to
        keep chickens. A commitment to growing and eating local food is one excellent
        reason to start a backyard flock. It increases the local diversity of our food
        choices, while reducing the carbon footprint of our food supply at the same
        time. Chickens are great recyclers, they use up those kitchen scraps (reduce
        waste) and turn them into fertilizer for your garden (help produce more food!).
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        For some,
        it's a hobby: raising and maintaining rare heirloom breeds is the lure. For
        others, it's a culinary choice: the idea is to cook using absolutely fresh eggs,
        produced from chickens selected for the taste of the egg. The best tasting, freshest
        and most nutritious eggs come from a backyard flock.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        A backyard
        flock is also a great way to allow neighborhood kids to learn that their food
        does not come from a grocery store (or at least its not made there!). Who
        knows, some of these kids may be our future farmers and food producers.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %span{:style => "mso-spacerun:yes"} †
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Isn't it unusual to
            have chickens in a city back yard?
      %i{:style => "mso-bidi-font-style:\r\n  normal"}
        %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Not really.
        Chickens have been living in people's back yards for a long time, for thousands
        of years, in fact. Many cities currently allow chickens in the city in some
        capacity or another. For example,
      %span{:style => "font-size:11.0pt;font-family:Arial"} New York City
      %span{:style => "font-size:11.0pt;font-family:Arial"} ,
      %span{:style => "font-size:11.0pt;font-family:Arial"} Minneapolis
      %span{:style => "font-size:11.0pt;font-family:Arial"} ,
      %span{:style => "font-size:11.0pt;font-family:Arial"} Portland
      %span{:style => "font-size:11.0pt;font-family:Arial"} ,
      %span{:style => "font-size:11.0pt;font-family:Arial"} OR
      %span{:style => "font-size:11.0pt;font-family:Arial"} and
      %span{:style => "font-size:11.0pt;font-family:Arial"} Atlanta
      %span{:style => "font-size:11.0pt;font-family:Arial"} ,
      %span{:style => "font-size:11.0pt;font-family:Arial"} GA
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        all allow chickens. Link to a list of
        city chicken laws:
        %a{:href => "http://home.centurytel.net/thecitychicken/chickenlaws.html"} http://home.centurytel.net/thecitychicken/chickenlaws.html
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Won't it look messy,
            be smelly and bring down my property values?
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        It doesn't
        have to be smelly or messy.
        %span{:style => "mso-spacerun:yes"}> †
        Just like
        any other pet or animal, chickens need care--cleaning out the dirty bedding in
        the coop, keeping it dry and having a clean/dry area of sand or dirt for the
        birds to take dust bathes in. These good maintenance practices help to keep the
        birds happy, healthy and odor free. A chicken that is properly cared for is
        just as clean as a dog or house bird.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Urban
        chicken growers, like all good pet owners, are concerned about how their chickens
        might be affecting their neighborhood. They want their chickens to be a
        positive experience for everyone and they make an effort to keep an open dialog
        with their immediate neighbors to ensure any concerns or issues are addressed.
        The American Poultry Association advises that the rights of neighbors must be
        considered when raising chickens in the city, and that structures and materials
        used should blend into the neighborhood's existing structures.
        %span{:style => "mso-spacerun:yes"} †
        = succeed "." do
          %i{:style => "mso-bidi-font-style:normal"}
            Actually,
            chickens can be kept in a yard so inconspicuously, that it may not be apparent
            that chickens are even around
        There are eggs to share, and a chicken coop
        in the neighborhood can actually be a conversation starter, and thus it can
        enhance a neighborhood community
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial;color:red"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Can chickens be raised
            humanely in a small, backyard space?
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Domestic
        chickens have few if any needs that can't be met in a small yard by a
        conscientious caretaker. An enclosed shelter that gives 3 to 4 square feet per large
        adult bird, and that provides protection from the elements and predation is a
        fine space. A run or movable pen (a place for them to scratch around) that
        allows for occasional outdoor exposure is optimal for the health of the chicken
        and it improves the taste and quality of eggs. So, for four hens, a 3'x4' coop
        plus a run that is roughly 3'x8' is more than adequate.
      %span.GramE
        %b{:style => "mso-bidi-font-weight:normal"}
          %i{:style => "mso-bidi-font-style:\r\n  normal"}
            %span{:style => "font-size:11.0pt;font-family:\"Book Antiqua\";mso-bidi-font-family:\r\n  Arial"} But, what about winter?
      %b{:style => "mso-bidi-font-weight:\r\n  normal"}
        %i{:style => "mso-bidi-font-style:normal"}
          %span{:style => "font-size:11.0pt;\r\n  font-family:\"Book Antiqua\";mso-bidi-font-family:Arial"}       %span{:style => "font-size:11.0pt;font-family:Arial"}
        %span{:style => "mso-spacerun:yes"}> †
        Chickens can live quite happily, through the
        coldest winter, if they have an insulated coop or a light inside their coop.
        The smaller the coop, the easier it is for them to keep it warm. Some breeds
        are hardier than others, and by choosing the right breed for the climate, the
        birds survive winters just fine.
        %span{:style => "mso-spacerun:yes"} †
        %a{:href => "http://www.madcitychickens.com/"} http://www.madcitychickens.com
        %span{:style => "mso-spacerun:yes"} †
        %br
          %span{:style => "mso-spacerun:yes"} †
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            How can the chicken
            owner prevent the chicken coop from attracting vermin?
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %br
          Raising chickens, just like raising a dog or any other pet, requires some care
          and diligence, and it is not for everyone. Maintaining a clean operation is
          healthy for the chickens, and it also decreases the chance of attracting vermin.
          Feeding only what the chickens will eat up completely ensures that no food will
          be left on the ground to attract or feed vermin. Storing feed in metal
          containers also helps reduce the chance of attracting unwanted pests. Proper
          composting of chicken litter (or litter removal) and keeping property clear of
          nesting areas for pests are also good preventative measures.
          %span{:style => "mso-spacerun:yes"} †
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            What to do with
            chicken litter?
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %br
          Compost it or give it away to a gardener to compost. Chicken manure is high in
          nitrogen, so it is considered "hot". It should be composted before
          putting it directly onto a garden. Once it has broken down, it then becomes
          perfect food for the garden.
    %p.MsoNormal
      %a{:href => "http://www.seattletilth.org/resources/articles/compostingchickenmanure"} http://www.seattletilth.org/resources/articles/compostingchickenmanure
    %p.MsoNormal
      %a{:href => "http://gardening.wsu.edu/stewardship/compost/yardcomp/yardcomp.htm"} http://gardening.wsu.edu/stewardship/compost/yardcomp/yardcomp.htm
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %span{:style => "mso-spacerun:yes"} †
        %br
          %b{:style => "mso-bidi-font-weight:normal"}
            %i{:style => "mso-bidi-font-style:normal"}
              What
              about roosters?
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Some people
        %i{:style => "mso-bidi-font-style:normal"} love
        to hear roosters crow, and some
        people hate it!
        %span{:style => "mso-spacerun:yes"} †
      %span{:style => "font-size:11.0pt;font-family:Arial"} Minneapolis
      %span{:style => "font-size:11.0pt;font-family:Arial"} allows roosters;
      %span{:style => "font-size:11.0pt;font-family:Arial"} Madison
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        does not. The allowance of roosters
        is city and even neighborhood specific. If a city lot is isolated enough, and if
        neighbors approve, a rooster can be just fine in a city.
        %b{:style => "mso-bidi-font-weight:\r\n  normal"}
          But, d
          %i{:style => "mso-bidi-font-style:normal"}
            on't you need a rooster in
            order to get eggs?
        Nope! A hen will lay eggs regardless--they just
        won't be fertile eggs.
        %br{:style => "mso-special-character:line-break"}
          <![if !supportLineBreakNewLine]>
          %br{:style => "mso-special-character:line-break"}
            <![endif]>
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Do hens make a lot of
            noise?
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %br
          Hens usually make a soft, contented clucking sound--until they lay an egg. Then
          they may get very excited and proud and will squawk for a few moments and then
          settle back down. They do not make a ruckus in the morning like their male
          counterparts and they are fast asleep in their coop by the time the sun goes
          down.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Can humans catch
            diseases from chickens?
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        As with all
        pets and animals, under the right conditions, chickens can pass some disease
        and infections to humans. Salmonella and respiratory infections are the most
        common. Proper hand washing after handling the
        %span.GramE birds,
        and wearing a mask while cleaning out coops greatly reduces the chance of these
        infections. The state of
      %span{:style => "font-size:\r\n    11.0pt;font-family:Arial"} Minnesota
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        publishes a handbook that explains
        the simple steps needed to keep both flocks and humans safe when raising chickens
        in a backyard operation.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Link to backyard
        %span.SpellE biosecurity
        publication:
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %a{:href => "http://www.bah.state.mn.us/bah/brochures/biosecurity_birds/Backyard/Backyard%20Poultry%20ENG.pdf"} http://www.bah.state.mn.us/bah/brochures/biosecurity_birds/Backyard/Backyard%20Poultry%20ENG.pdf
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            What do you do if a
            bird is sick
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:11.0pt;font-family:Arial"} ?
      %span{:style => "font-size:\r\n  11.0pt;font-family:Arial"}
        Consistent with good
        %span.SpellE biosecurity
        measures, immediately isolate the chicken from the rest of the flock. Consult
        the County Extension Service, a veterinarian, or the Minnesota Board of Animal
        Health if you have questions or concerns. Pamper the bird for awhile if you want,
        but do cull the bird if it does not quickly return to complete health.
        %span.GramE Its
        not worth the risk or the feed to keep a sick bird
        around.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            Do I need to worry
            about Avian Influenza ñ (bird flu)?
            %span{:style => "mso-tab-count:1"}> †††
            Be
            aware, but no need to panic.
      %span{:style => "font-size:11.0pt;\r\n  font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        The
        following is taken from the Madison City Chicken website ñ please see their FAQ
        section for an excellent and complete discussion of the Avian Flu issue from Ron
        = succeed "," do
          %span.SpellE Kean
        UW Extension
        %span{:style => "mso-spacerun:yes"}
          †
        %a{:href => "http://www.madcitychickens.com/"} http://www.madcitychickens.com
        %br{:style => "mso-special-character:line-break"}
          <![if !supportLineBreakNewLine]>
          %br{:style => "mso-special-character:line-break"}
            <![endif]>
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        It's
        important to note that humans cannot be infected with avian flu by eating
        cooked poultry products or eggs. Avian Flu is not in the
      %span{:style => "font-size:11.0pt;font-family:Arial"} United States
      %span{:style => "font-size:11.0pt;font-family:Arial"} . Currently in the
      %span{:style => "font-size:11.0pt;font-family:Arial"} U.S.
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        , flocks are being monitored for
        signs of avian influenza. Customs and immigration officials are watching
        closely for anyone attempting to smuggle birds into the country, or for anyone
        who has recently been in contact with poultry in countries with known
        outbreaks.
        %span{:style => "mso-spacerun:yes"} †
        %br
          %br
            %b{:style => "mso-bidi-font-weight:normal"}
              %i{:style => "mso-bidi-font-style:normal"}
                Good
                %span.SpellE biosecurity
                measures are important to protect backyard
                flocks.
            Chicken owners should follow these basic common sense
            guidelines. Don't allow your birds to mingle with wild birds. Don't borrow
            other people's equipment. Clean your shoes and clothes if you have contact with
            other people's birds. If you purchase birds, or if you bring your own
            %span.GramE birds
            home after a show or swap meet, keep those birds
            isolated from your regular flock for at least 2 weeks, while watching for any
            signs of illness in the quarantined birds. Tend to your home flock before
            taking care of the new or returning birds.
            %br
              %span{:style => "mso-spacerun:yes"} †
              %br
                For more information, visit the websites of the WHO and the CDC and Humane
                Society:
                %br
                  %a{:href => "http://www.who.int/csr/disease/avian_influenza/en/"} http://www.who.int/csr/disease/avian_influenza/en/
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %a{:href => "http://www.cdc.gov/flu/avian/"} http://www.cdc.gov/flu/avian/
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %a{:href => "http://birdflubook.com/g.php?id=5"} http://birdflubook.com/g.php?id=5
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            In the unfortunate
            event of an outbreak of avian influenza among poultry in our area, how
            %span{:style => "mso-spacerun:yes"} †
    %p.MsoNormal
      %span.GramE
        %b{:style => "mso-bidi-font-weight:normal"}
          %i{:style => "mso-bidi-font-style:normal"}
            %span{:style => "font-size:11.0pt;font-family:\r\n  Arial"} does
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:normal"}
          %span{:style => "font-size:11.0pt;font-family:\r\n  Arial"} making chickens legal now help or hurt outbreak control efforts?
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Having a
        strong network among urban chicken hobbyists will be helpful. Legalizing
        chickens allows and encourages hobbyists to get to know each other, to share
        knowledge and resources. Overall, it improves the understanding and use of proper
        %span.SpellE biosecurity
        measures, and it enables better
        compliance should eradication efforts be necessary. Additionally, the existence
        of small backyard flocks around the country may have an important role to play
        in the eventual repopulating areas affected by avian flu outbreaks. Hobbyists
        contribute to ensuring the survival or heirloom breeds, and genetic diversity.
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"}
            What is the
            organization supporting Chickens in
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"} Duluth
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"} and how do we get a hold of them?
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Duluth City
        Chickens is a group of people who have, or want to have chickens in the city.
        Visit our webpage to learn more and to contact us:
      %span{:style => "font-size:9.5pt;font-family:Arial"}
        %a{:href => "http://duluthcitychickens.org/"} http://duluthcitychickens.org
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %b{:style => "mso-bidi-font-weight:normal"}
        %i{:style => "mso-bidi-font-style:\r\n  normal"}
          %span{:style => "font-size:11.0pt;font-family:Arial"} Resources:
    %p.MsoNormal
      %span.GramE
        %span{:style => "font-size:11.0pt;font-family:\r\n  Arial"}
          American Poultry Association, 'Helping Poultry Breeders Raise Pets in an
          Urban Area, by Bart Pals.
      %span{:style => "font-size:11.0pt;\r\n  font-family:Arial"}     %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %a{:href => "http://www.amerpoultryassn.com/newcityhall.htm"} http://www.amerpoultryassn.com/newcityhall.htm
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;\r\n    font-family:Arial"} Madison
      %span{:style => "font-size:11.0pt;\r\n   font-family:Arial"}       %span{:style => "font-size:11.0pt;\r\n    font-family:Arial"} City
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Chickens:
        %a{:href => "http://www.madcitychickens.com/"} http://www.madcitychickens.com
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        The Easy
        Chicken for Beginners:
        %a{:href => "http://www.shilala.com/biosecurity.html"} http://www.shilala.com/biosecurity.html
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        Just Food ñ
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        New
        York City
      %span{:style => "font-size:11.0pt;\r\n  font-family:Arial"}
        \:
        %a{:href => "http://www.justfood.org/cityfarms/chickens/"} http://www.justfood.org/cityfarms/chickens/
        = succeed "city" do
          %span.GramE ( '
        chicken guide')
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:lang => "DE", :style => "font-size:11.0pt;font-family:Arial;\r\n  mso-ansi-language:DE"} Metro Chickens:
      %span{:style => "font-size:11.0pt;\r\n  font-family:Arial"}
        %a{:href => "http://www.culinate.com/articles/features/Metro+chickens"}
          %span{:lang => "DE", :style => "mso-ansi-language:DE"} http://www.culinate.com/articles/features/Metro+chickens
      %span{:lang => "DE", :style => "font-size:11.0pt;font-family:Arial;mso-ansi-language:DE"}
    %p.MsoNormal
      %span{:lang => "DE", :style => "font-size:11.0pt;font-family:Arial;\r\n  mso-ansi-language:DE"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;\r\n    font-family:Arial"} Seattle
      %span{:style => "font-size:11.0pt;font-family:Arial"}
        %span.SpellE Tilth
        %a{:href => "http://www.seattletilth.org/resources/articles/compostingchickenmanure"} http://www.seattletilth.org/resources/articles/compostingchickenmanure
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}
    %p.MsoNormal
      %span{:style => "font-size:11.0pt;font-family:Arial"}