%div

  %div{:style => "padding: 10px;"}
    %b Chicken-raising in Duluth - legalized! (Aug.25. 2008)
    %br/
    Thanks to all that helped and made this happen!
    %br/
    %div{:style => "padding: 10px;"}
      %a{:href => "http://www.duluthmn.gov/clerk/council/action08/a080825.htm"} Aug 25, 2008 - Duluth, MN, Chicken Ordinance
      (City of Duluth Website)
  %div{:style => "padding: 10px;"}
    %b
      %a{:href => "http://www.duluthmn.gov/clerk/permits/clerkapplications/chickens2009.pdf"} Application for Chicken License
  %div{:style => "padding: 10px;"}
    %div
      %b Mission Statement
    The mission of the "Duluth City Chickens" is to promote
    responsible urban agriculture by establishing clear legal guidelines for
    raising chickens within the city of Duluth.
  %div{:style => "padding: 10px;"}
    %div
      %b Supporting Language
    %div
      %div
        As modern large-scale agriculture becomes unsustainable (due to the
        rising cost of fuel, the need to cut down on emissions of greenhouse
        gases, etc.) and as the safety of our food supply becomes less certain,
        people throughout the world are turning to urban agriculture (including
        the cultivation of vegetables and fruits, and the raising of poultry for
        eggs and meat) as a way to increase food self-sufficiency.
      %div
        By recognizing the advantages of ensuring that people living in urban
        areas have the legal right to raise their own food, it is in the best
        interests of the residents of Duluth that we establish clear guidelines
        for responsible urban agriculture.