%div
  %pre
    %b Chicken License Requirements
    (a) Applications shall be made to the city clerk. The cost of the license is $10.
    The license year commences on January 1 and ends on the following December 31.
    (b) All licenses must pass a mandatory inspection by the animal control authority.
    The animal control authority may refuse to grant or may revoke a license:
    (1) If the chickens become a nuisance, as evidenced by a third admitted or judicially-
    determined violation of the Duluth City Code within 12 months of the
    first of the three admitted or judicially-determined violations;
    (2) To a person convicted of cruelty to animals under a code, ordinance or statute from
    this state, or a code, ordinance or statute from another state.
    %b Chicken License Regulations
    Each person holding a license to keep chickens within the city of Duluth shall
    comply with the following:
    
    (a) The principle use of the property where the chickens are to be kept is a single
    family dwelling as defined in Section 50-1.18 of Duluth City Code;
    (b) No person shall keep more than five chickens;
    (c) No person shall keep a rooster;
    (d) No person shall keep any chickens inside the single family dwelling;
    (e) No person shall slaughter any chickens within the city of Duluth;
    (f) Chickens shall be provided a secure and well ventilated roofed structure
    in compliance with the current zoning and building codes;
    (g) The roofed structure shall be fully enclosed, wind proof, have one square
    foot of window to 15 square feet of floor space and have a heat source to
    maintain an adequate indoor temperature during extreme cold conditions;
    (h) The floors and walls of the roofed structure shall be kept in a clean,
    sanitary and healthy condition with all dropping and body excretions collected
    on a daily basis and placed in a fire-proof covered container until applied as
    fertilizer, composted or transported off the premises;
    (i) Chickens shall be kept in the roofed structure or any attached fenced yard
    enclosure at all times;
    (j) The fence around the yard enclosure shall be securely constructed with a mesh
    type material and shall have protective overhead netting to keep the chickens
    separated from other animals;
    (k) The fenced yard enclosure shall be well drained so there is no accumulation of moisture;
    (l) A floor area or combination of the floor and fenced yard area for keeping chickens
    shall not be less than ten square feet of floor space per chicken;
    (m) No roofed structure or fenced yard enclosure shall be located closer than 25
    feet to any residential dwelling on the adjacent lots.
    %b OBTAINING A LICENSE TO KEEP CHICKENS
    (a) Any person who keeps chickens in the city of Duluth other than areas zoned S
    suburban districts under Section 50-51 of this Code, shall obtain an annual license
    prior to acquiring the chickens. The license year commences on January 1 and ends on
    the following December 31. Applications shall be made to the city clerk.
    
    The city clerk shall collect the license fee.
    
    (b) Fees to be charged for the issuance of a license to keep chickens shall be set in
    accordance with Section 31-6(a) of this Code.
    (c) All licenses shall be conditioned upon passing a mandatory inspection by the animal
    control authority.
    (d) The animal control authority may refuse to grant or may revoke a license if the chickens
    become a nuisance, as evidenced by a third admitted or judicially-determined violation of
    the Duluth City Code within 12 months of the first of the three admitted or
    judicially-determined violations.
    (e) The animal control authority may refuse to grant or may revoke a license to a person
    convicted of cruelty to animals under a code, ordinance or statute from this state,
    or a code, ordinance or statute from another state.
    (f) All reports of such inspections and reviews shall be in writing and maintained by the animal
    control authority.
    %b KEEPING OF CHICKENS
    (a) Each person holding a license to keep chickens within the city of Duluth shall
    comply with the following:
    (1) The principle use of the property where the chickens are to be kept is a single
    family dwelling as defined in Section 50-1.18 of Duluth City Code as “any building or
    portion thereof which is designed for or used for residential purposes”;
    (2) No person shall keep more than five chickens;
    (3) No person shall keep a rooster;
    (4) No person shall keep any chickens inside the single family dwelling;
    (5) No person shall slaughter any chickens within the city of Duluth;
    (6) Chickens shall be provided a secure and well ventilated roofed structure in
    compliance with the current zoning and building codes. Building permits are
    not required for accessory buildings 120 square feet or less, but setback
    requirements do apply:
    Setback from rear property line -- 5 feet minimum.
    Setback from side property line - 2-1/2 feet minimum (if located in rear yard).
    Setbacks from front, interior side and corner side yards are site specific.
    
    Building permits for structures over 120 square feet can be obtained in the
    Building Safety Office, 210 City Hall.
    
    An electrical permit is required for branch wiring to an accessory
    structure and can be obtained in the Building Safety Office, 210 City Hall;
    (7) The roofed structure shall be fully enclosed, wind proof, have one square
    foot of window to 15 square feet of floor space and have a heat source to maintain
    an adequate indoor temperature during extreme cold conditions;
    (8) The floors and walls of the roofed structure shall be kept in a clean, sanitary
    and healthy condition with all dropping and body excretions collected on a daily
    basis and placed in a fire-proof covered container until applied as fertilizer,
    composted or transported off the premises;
    (9) Chickens shall be kept in the roofed structure or any attached fenced yard
    enclosure at all times;
    (10) The fence around the yard enclosure shall be securely constructed with a
    mesh type material and shall have protective overhead netting to keep the
    chickens separated from other animals;
    (11) The fenced yard enclosure shall be well drained so there is no accumulation of moisture;
    (12) A floor area or combination of the floor and fenced yard area for keeping chickens shall
    not be less than ten square feet of floor space per chicken;
    (13) No roofed structure or fenced yard enclosure shall be located closer than 25 feet
    to any residential dwelling on the adjacent lots.