%div
  %div
    %div{:style => "font-weight: bold;"} BEST KEPT SECRETS: City Chickens
    %div A little known ordinance passed in the city of Duluth has people more than a little curious about the pastime – Urban Chickens.
    %div Published August 15, 2009
    %div Living North Magazine
    %div
      %a{:href => "http://www.duluthnewstribune.com/event/article/id/127879/"} http://www.duluthnewstribune.com/event/article/id/127879/
  %div
    \ 
  %div
    %div{:style => "font-weight: bold;"} Chicken Essentials
    %div Duluth Community Education and the Duluth Community Garden Program
    %div Instructors: Nancy Nelson, Linda Porter, Theresa Koenig
    %div
      %a{:href => "/pdfs/chicken_essentials.pdf"} chicken_essentials.pdf
  %div
    \ 
  %div
    %p
      %a{:href => "/audio/Chickens.mp3"}>
        Laura Erickson's editorial (radio) supporting Chickens in the City,
        Duluth
      (MP3 audio file / Dec. 2007)
    %p
      %a{:href => "http://www.amerpoultryassn.com/newcityhall.htm"}
        American Poultry Association "Helping Poultry Breeders Raise Birds in an
        Urban Area"
    %p
      %a{:href => "http://www.cityfarmer.org/chicken84.html"}
        Canadian Office of Urban Agriculture: Urban Agriculture Notes "Chickens
        in Soup"
    /
      a href="http://www.nextstep.state.mn.us/res_detail.cfm?id=2107">
      Article from "Nextstep" that includes this: &quot;In
      fall 2005, the Sustainable Farming Association of MN (NE Chapter) and
      the Duluth Community Garden Program presented 'Garden Hop: An urban food
      production tour.' Free to the public, this event introduced people to 8
      residential sites where homeowners are producing large quantities of a
      wide variety of food in relatively small spaces. Crops include fruits,
      vegetables, chickens, flowers, and herbs.&quot;</a><p
    %p
      %a{:href => "http://www.backyardpoultrymag.com/issues/1/1-1/Cherrie_Nolden.html"}
        Backyard Poultry Magazine:
      An article about chickens in Madison "MadCity
      Chickens political movement works to get a poultry ordinance passed"
      Useful article about the folks who worked on the ordinance in Madison.
    %p
      <a href="http://madcitychickens.com>"
      Mad City Chickens (urban chicken advocacy group, Madison, Wisc.)
    %p
      %a{:href => "http://madcitychickens.com/faq.html"}
        Mad City Chickens FAQ (frequently asked questions)
      %br/
      excellent FAQ page with answers to about every question you could ask,
      plus City Of Madison chicken rules and info/suggestions on changing
      your local city chicken rules
    %p
      %a{:href => "http://www.sailzora.com/Chicken%20Laws.htm"}
        SoPo Chicken website has this list of city ordinances around the country
    %p
      %a{:href => "http://minnesota.publicradio.org/display/web/2007/06/18/chickencoops/?"}
        Raising chickens in the heart of the city (MPR story: June 2007,
        Minneapolis,MN)
    %p
      %a{:href => "http://home.centurytel.net/thecitychicken/chickenlaws.html"}
        City Chicken Laws = listing of city-chicken-laws from various cities
        around the U.S.A.